<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993705726593-3ao7k65pdj87cr250jf2j3v5cc4lm15b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993705726593-3ao7k65pdj87cr250jf2j3v5cc4lm15b</string>
	<key>API_KEY</key>
	<string>AIzaSyAt4j120ubW_Ai7VOt35G2NiimwnqmHqUg</string>
	<key>GCM_SENDER_ID</key>
	<string>993705726593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>QDTapplockCompanyiOSBxh.ToBTappiOS</string>
	<key>PROJECT_ID</key>
	<string>tapplock-e202d</string>
	<key>STORAGE_BUCKET</key>
	<string>tapplock-e202d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993705726593:ios:89f5ab5010ed37e8</string>
	<key>DATABASE_URL</key>
	<string>https://tapplock-e202d.firebaseio.com</string>
</dict>
</plist>